<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message</title>
  </head>
  <body>
    <header>
      <h1>New Message</h1>
      <a href="/">Back To Message Board</a>
    </header>

    <form action="/new" method="post">
      <label for="author-name">Author's Name: </label>
      <input type="text" id = "author-name" name="messageUser" />

      <br />

      <label for="textMessage">Message:</label>

      <input name="messageText" id = "textMessage" placeholder="Text Message" />

      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
